@model MelikeArslan_211103031.DAL.Hastaliklar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPage1_Admin.cshtml";
}
<h3>Silmek istiyormusunuz?</h3>
<div>
    <h4>Hastaliklar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hastalik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hastalik)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Sil" class="btn btn-default" /> |
    @Html.ActionLink("Listeye geri Dön", "Index", null, new { @class = "btn btn-primary" })
</div>
    }
</div>
